@import "./app.var.style";

.containersCustom {
    padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
    padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.invisible {
  opacity: 0;
}

.view-enter {
   animation: fadeIn 0.5s both ease-in;
   z-index: 9999;
 }

.animatedViews {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.blocTest{
  background-color: #404040;
  text-align: center;
  margin-bottom: 5px;
  cursor: move;
  color:#FFFFFF;
  font-weight: 400;
  font-size: 20px;
  padding:5px;
}

.colJour{
  height: 300px;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.headerJour{
    background-color: #FF7518;
    height: 30px;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}

.itemJour{
  padding:5px;
  background-color:#404040;
  margin: 5px;
}
